.idea
*.pyc
analisys/.ipynb_checkpoints/
analisys/misc.ipynb
data/*.zip*
data/*.csv
*.7z
*.png
*.jpeg
*.jpg
data/submissions/
data/tidy

# Windows specific
preprocessing/*/Debug/*
preprocessing/*/Release/*
preprocessing/build/*
*.db
*.suo
*.sln
*.ilk
*.pdb
*.exe
*.lib
*.sdf
*.vcxproj*
